.App {
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: center;
}

.parts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.part-container {
  height: 320px;
}

.build-container {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-container {
  padding: 3%
}

.grid-container.left {
  border-right: 2px solid black;
}